/*!
    Title: Dev Portfolio Template
    Version: 1.2.2
    Last Change: 03/25/2020
    Author: Ryan Fitzgerald
    Repo: https://github.com/RyanFitzgerald/devportfolio-template
    Issues: https://github.com/RyanFitzgerald/devportfolio-template/issues

    Description: This file contains all the styles associated with the page
    that don't come from third party libraries. This file gets compiled using
    Gulp and send to the /css folder which is then loaded on the page.
*/

body {
    font-family: 'Source Sans 3', sans-serif;
    font-size: 16px;
    background: #fff;
    color: #172026
}

body.active {
    overflow: hidden;
    z-index: -1
}

.no-js #experience-timeline>div {
    background: #fff;
    padding: 10px;
    margin-bottom: 10px;
    border: none
}

.no-js #experience-timeline>div h3 {
    font-size: 1.5em;
    font-weight: 300;
    color: #374054;
    display: inline-block;
    margin: 0
}

.no-js #experience-timeline>div h4 {
    font-size: 1.2em;
    font-weight: 300;
    color: #7e8890;
    margin: 0 0 15px 0
}

.no-js #experience-timeline>div p {
    color: #74808a;
    font-size: 0.9em;
    margin: 0
}

.no-js #experience-timeline:before,
.no-js #experience-timeline:after {
    content: none
}

@keyframes dropHeader {
    0% {
        transform: translateY(-100%)
    }
    100% {
        transform: translateY(0)
    }
}

header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 10;
    animation-name: dropHeader;
    animation-iteration-count: 1;
    animation-timing-function: ease;
    animation-duration: 0.75s
}

header ul {
    display: inline-block;
    background: #fdfbf7;
    text-align: center;
    padding: 8px 12px;
    margin: 0;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px
}

header li {
    display: inline-block
}

header a {
    display: block;
    color: #1f4e5f;
    padding: 10px
}

header a:hover {
    color: #163a46;
    text-decoration: none;
    background: #efe9e1;
    border-radius: 4px
}

header a:focus {
    color: #1f4e5f;
    text-decoration: none
}

header.active {
    display: block
}

header.sticky {
    position: fixed;
    z-index: 999
}

#menu.active {
    display: block
}

#mobile-menu-open {
    display: none;
    cursor: pointer;
    position: fixed;
    right: 15px;
    top: 10px;
    color: #1f4e5f;
    font-size: 1.5em;
    z-index: 20;
    padding: 0 7px;
    border-radius: 4px;
    background: #fdfbf7
}

#mobile-menu-close {
    display: none;
    text-align: right;
    width: 100%;
    background: #fdfbf7;
    font-size: 1.5em;
    padding-right: 15px;
    padding-top: 10px;
    cursor: pointer;
    color: #1f4e5f
}

#mobile-menu-close span {
    font-size: 0.5em;
    text-transform: uppercase
}

#mobile-menu-close i {
    vertical-align: middle
}

footer {
    padding: 50px 0
}

.copyright {
    padding-top: 20px
}

.copyright p {
    margin: 0;
    color: #74808a
}

.top {
    text-align: center
}

.top span {
    cursor: pointer;
    display: block;
    margin: 15px auto 0 auto;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: none;
    text-align: center
}

.top i {
    color: #74808a
}

.social {
    text-align: right
}

.social ul {
    margin: 5px 0 0 0;
    padding: 0
}

.social li {
    display: inline-block;
    font-size: 1.25em;
    list-style: none
}

.social a {
    display: block;
    color: #74808a;
    padding: 10px
}

.social a:hover {
    color: #3498db
}

.project {
    background: #fff;
    border: none;
    border-radius: 4px
}
.collapse-section {
    display: none
}

.toggle-wrap {
    text-align: left;
    margin-top: 5px
}

.toggle-button {
    background: none;
    border: none;
    padding: 0;
    color: #1f4e5f;
    font-weight: 600;
    cursor: pointer
}

.toggle-button:hover {
    color: #163a46;
    text-decoration: underline
}

.abstract-toggle {
    background: none;
    border: none;
    padding: 0;
    color: #1f4e5f;
    font-weight: 600;
    cursor: pointer
}

.abstract-toggle:hover {
    color: #163a46;
    text-decoration: underline
}

.abstract-text {
    display: none;
    margin: 0 0 8px 0;
    color: #23313a;
    font-size: 0.9em
}

.summary-text {
    margin: 0 0 8px 0;
    color: #23313a;
    font-size: 0.9em
}

.project-info h3 {
    font-weight: 600;
    color: #1b2a2f
}

.project-info p {
    color: #2f3a3f
}

.btn-rounded-white {
    display: inline-block;
    color: #1f4e5f;
    padding: 10px 16px;
    border: none;
    border-radius: 20px;
    transition: .4s ease all
}

.btn-rounded-white:hover {
    color: #163a46;
    background: #efe9e1;
    text-decoration: none
}

.shadow {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24)
}

.shadow-large {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.08), 0 3px 6px rgba(0, 0, 0, 0.15)
}

.heading {
    position: relative;
    display: inline-block;
    font-size: 2em;
    font-weight: 600;
    margin: 0 0 30px 0
}

.heading:after {
    position: absolute;
    content: '';
    top: 100%;
    height: 1px;
    width: 50px;
    left: 0;
    right: 0;
    margin: 0 auto;
    background: transparent
}

.background-alt {
    background: #fff;
}

#lead {
    position: relative;
    padding: 50px 15px 30px;
    background: linear-gradient(120deg, rgba(255,255,255,0.82) 0%, rgba(135,194,250,0.18) 100%), url('images/lead_background_new.png') center center/cover no-repeat;
    border-bottom: none;
}

.page-header h1 {
    font-family: 'Cormorant Garamond', serif;
    font-weight: 700;
    font-size: 2.8em;
    margin: 0 0 8px 0;
    color: #1b2a2f
}

.title {
    font-size: 1.15em;
    margin: 0 0 10px 0;
    color: #3b4c55
}

.contact {
    margin: 0 0 12px 0;
    color: #3b4c55
}

.headline {
    margin: 0 0 16px 0;
    color: #2f3a3f
}

.link-row a {
    display: inline-block;
    margin-right: 16px;
    color: #1f4e5f;
    font-weight: 600
}

.link-row a:hover {
    color: #163a46;
    text-decoration: none
}

.email-inline {
    display: inline-block;
    margin-right: 16px;
    color: #3c4a53;
    font-weight: 600
}

.headshot img {
    width: 100%;
    max-width: 238px;
    border-radius: 4px;
    border: none;
    margin-top: 25px
}

.headshot {
    display: flex;
    align-items: center
}

.mono {
    font-family: "SFMono-Regular", Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace
}

@keyframes pulsate {
    0% {
        transform: scale(1, 1)
    }
    50% {
        transform: scale(1.2, 1.2)
    }
    100% {
        transform: scale(1, 1)
    }
}

#about {
    padding: 30px 15px;
    border-bottom: none
}

#about p {
    color: #2f3a3f;
    margin: 0 0 12px 0
}

.tagline {
    font-style: italic;
    color: #495a63
}

.section-title {
    font-family: 'Cormorant Garamond', serif;
    font-size: 2.52em;
    margin: 0 0 16px 0;
    color: #1b2a2f
}

.section-subtitle {
    font-size: 1.1em;
    font-weight: 600;
    margin: 0 0 8px 0;
    color: #172026
}

#experience-teaching .project {
    margin: 0 auto 6px auto
}

#experience-teaching .project-info h3 {
    margin: 0 0 4px 0
}

#experience-teaching .pub-meta {
    margin: 0 0 6px 0
}

#experience-teaching .no-image .project-info {
    padding: 6px 15px
}

.course-list {
    margin: 0 0 3px 30px;
    padding: 0
}

.course-list li {
    margin: 0 0 1px 0
}

.course-code {
    font-weight: 700
}

#experience {
    padding: 50px 15px;
    text-align: center;
    border-bottom: none;
}

#experience h2 {
    color: #374054
}

#experience-timeline {
    margin: 30px auto 0 auto;
    position: relative;
    max-width: 1200px
}

#experience-timeline:before {
    position: absolute;
    content: '';
    top: 0;
    bottom: 0;
    left: 303px;
    right: auto;
    height: 100%;
    width: 3px;
    background: transparent;
    z-index: 0
}

#experience-timeline:after {
    position: absolute;
    content: '';
    width: 3px;
    height: 40px;
    background: transparent;
    top: 100%;
    left: 303px
}

.vtimeline-content {
    margin-left: 350px;
    background: #fff;
    border: none;
    padding: 15px;
    border-radius: 3px;
    text-align: left
}

.vtimeline-content h3 {
    font-size: 1.5em;
    font-weight: 300;
    color: #374054;
    display: inline-block;
    margin: 0
}

.vtimeline-content h4 {
    font-size: 1.2em;
    font-weight: 300;
    color: #133755;
    margin: 0 0 15px 0
}

.vtimeline-content p {
    color: #74808a;
    font-size: 0.9em;
    margin: 0
}

.vtimeline-point {
    position: relative;
    display: block;
    margin-bottom: 30px
}

.vtimeline-icon {
    position: relative;
    color: #fff;
    width: 50px;
    height: 50px;
    background: #3498db;
    border-radius: 50%;
    float: left;
    z-index: 99;
    margin-left: 280px
}

.vtimeline-icon i {
    display: block;
    font-size: 2em;
    margin-top: 10px
}

.vtimeline-date {
    width: 260px;
    text-align: right;
    position: absolute;
    left: 0;
    top: 10px;
    font-weight: 300;
    color: #374054
}

#education {
    padding: 20px 15px 20px 15px;
    border-bottom: none;
    text-align: center
}

#education h2 {
    color: #374054;
    margin-bottom: 50px
}

.education-block {
    max-width: 1000px;
    margin: 0 auto 30px auto;
    padding: 5px;
    border: none;
    text-align: left
}

.education-block h3 {
    font-weight: 500;
    float: left;
    margin: 0;
    color: #374054
}

.education-block span {
    color: #74808a;
    float: right
}

.education-block h4 {
    color: #74808a;
    clear: both;
    font-weight: 500;
    margin: 0 0 15px 0
}

.education-block p,
.education-block ul {
    margin: 0;
    color: #74808a;
    font-size: 0.9em
}

.education-block ul {
    padding: 0 0 0 15px
}

#projects {
    padding: 50px 15px;
    border-bottom: none;
    text-align: left;
}

#research {
    padding: 20px 15px 60px;
    border-bottom: none;
    text-align: left
}

#research .project {
    display: grid;
    grid-template-columns: 200px 1fr;
    column-gap: 20px;
    align-items: center
}

/* Center all research images except the first (Pareto) */
#research .project:not(:first-child) .project-image {
    display: flex;
    align-items: center;
    justify-content: center;
    float: none;
    margin-left: 0;
    height: 100%;
}

#research .project-info {
    margin-left: 0;
    position: relative;
    top: -12px
}

#research .section-title,
#experience-teaching .section-title {
    text-align: left;
    display: block
}

#projects h2 {
    color: #374054;
    margin-bottom: 50px;
}

#projects .section-title {
    text-align: left;
    display: block;
}

#projects .project {
    display: grid;
    grid-template-columns: 200px 1fr;
    column-gap: 20px;
    align-items: center;
    max-width: 900px;
    margin: 0 auto 16px auto;
    background: #fff;
    border-radius: 4px;
    border: none;
    box-shadow: none;
}

#projects .project-image {
    display: flex;
    align-items: center;
    justify-content: center;
    float: none;
    margin-left: 0;
    height: 100%;
}

#projects .project-image img {
    width: 140px;
    height: auto;
}

#projects .project-info {
    margin-left: 0;
    position: relative;
    top: -12px;
    padding: 15px;
    text-align: left;
}

#projects .project-info h3 {
    font-size: 1.5em;
    font-weight: 600;
    color: #172026;
    margin: 0 0 6px 0;
}

#projects .pub-meta {
    margin: 0 0 6px 0;
    color: #3c4a53;
    font-weight: 600;
}

#projects .project-info p {
    color: #23313a;
    margin: 0 0 8px 0;
    font-size: 0.9em;
}

.project {
    position: relative;
    max-width: 1200px;
    margin: 0 auto 6px auto;
    overflow: hidden;
    background: #fff;
    border-radius: 4px;
    border: none
}

.project.shadow-large {
    box-shadow: none
}

.project-image {
    float: left;
    max-height: fit-content;
    margin-left: 20px;
}

.project-image img {
    width: 140px;
    height: auto
}

.project-info {
    position: relative;
    margin-left: 250px;
    padding: 15px;
    text-align: left
}

.project-info h3 {
    font-size: 1.5em;
    font-weight: 600;
    color: #172026;
    margin: 0 0 6px 0
}

.pub-meta {
    margin: 0 0 6px 0;
    color: #3c4a53;
    font-weight: 600
}

.project-info p {
    color: #23313a;
    margin: 0 0 8px 0;
    font-size: 0.9em
}

.no-image .project-info {
    position: relative;
    margin: 0;
    padding: 30px 15px;
    transform: none
}

#more-projects {
    display: none
}

#skills {
    padding: 50px 15px;
    text-align: center
}

#skills h2 {
    color: #374054;
    margin-bottom: 50px
}

#skills ul {
    display: block;
    margin: 0 auto;
    padding: 0;
    max-width: 800px
}

#skills li {
    display: inline-block;
    margin: 7px;
    padding: 5px 10px;
    color: #374054;
    background: #e4e4ea;
    list-style: none;
    cursor: default;
    font-size: 1.2em
}

#skills li.easycolor {
    background: rgb(135, 194, 250) !important
}

#contact {
    padding: 50px 15px;
    background: #3498db;
    text-align: center
}

#contact h2 {
    margin: 0 0 15px 0;
    color: #fff;
    font-weight: 500
}

#contact-form {
    max-width: 500px;
    margin: 0 auto
}

#contact-form input,
#contact-form textarea {
    display: block;
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: none;
    margin-bottom: 10px;
    background: #1d6fa5;
    color: #fff;
    transition: .5s ease all
}

#contact-form input::-webkit-input-placeholder,
#contact-form textarea::-webkit-input-placeholder {
    color: #fff
}

#contact-form input:-moz-placeholder,
#contact-form textarea:-moz-placeholder {
    color: #fff;
    opacity: 1
}

#contact-form input::-moz-placeholder,
#contact-form textarea::-moz-placeholder {
    color: #fff;
    opacity: 1
}

#contact-form input:-ms-input-placeholder,
#contact-form textarea:-ms-input-placeholder {
    color: #fff
}

#contact-form input:focus,
#contact-form textarea:focus {
    outline: none;
    background: #16527a
}

#contact-form textarea {
    height: 150px;
    resize: none
}

#contact-form button {
    display: block;
    width: 100%;
    background: #fff;
    border-radius: 4px;
    padding: 5px 10px;
    border: none;
    color: #3498db;
    font-weight: 700;
    box-shadow: 0 1px 3px rgba(8, 8, 8, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: .5s ease all
}

#contact-form button:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23)
}

.optional-section {
    padding: 50px 15px;
    text-align: center;
    border-top: none
}

.optional-section h2 {
    color: #374054
}

.optional-section-block {
    max-width: 700px;
    margin: 0 auto 30px auto;
    padding: 15px;
    border: none;
    background: #fff;
    text-align: left
}

.optional-section-block h3 {
    font-weight: 500;
    margin: 0 0 15px 0;
    color: #374054
}

.optional-section-block h4 {
    color: #74808a;
    clear: both;
    font-weight: 500;
    margin: 0 0 15px 0
}

.optional-section-block p,
.optional-section-block ul {
    margin: 0 0 15px 0;
    color: #74808a;
    font-size: 0.9em
}

.optional-section-block ul {
    padding: 0 0 0 15px
}

@media only screen and (max-width: 750px) {
    #experience-timeline:before,
    #experience-timeline:after {
        left: 23px
    }
    .vtimeline-date {
        width: auto;
        text-align: left;
        position: relative;
        margin-bottom: 15px;
        display: block;
        margin-left: 70px
    }
    .vtimeline-icon {
        margin-left: 0
    }
    .vtimeline-content {
        margin-left: 70px
    }
}

@media only screen and (max-width: 992px) {
    #lead {
        height: auto;
        min-height: auto;
        max-height: auto;
        padding: 80px 15px;
        background: linear-gradient(120deg, rgba(255,255,255,0.82) 0%, rgba(135,194,250,0.18) 100%), url('images/lead_background_new.png') center center/cover no-repeat !important;
    }
    #lead-content {
        position: relative;
        transform: none;
        left: auto;
        top: auto
    }
    #lead-content h1 {
        font-size: 3em
    }
    #lead-content h2 {
        font-size: 1.75em
    }
    #about {
        text-align: left
    }
    #about p {
        text-align: left
    }
}

@media only screen and (max-width: 768px) {
    header {
        position: fixed;
        display: none;
        z-index: 999;
        animation: none;
        bottom: 0;
        height: 100%
    }
    #mobile-menu-open,
    #mobile-menu-close {
        display: block
    }
    #menu {
        height: 100%;
        overflow-y: auto;
        box-shadow: none;
        border-radius: 0;
        width: 200%
    }
    #menu li {
        display: block;
        margin-bottom: 10px
    }
    #lead-content h1 {
        font-size: 2em
    }
    #lead-content h2 {
        font-size: 1.3em
    }
    #lead-content a {
        padding: 10px 20px
    }
    #lead-down {
        display: none
    }
    .education-block h3,
    .education-block span {
        float: none
    }
    .project-image {
        display: none
    }
    .project-info {
        position: relative;
        margin: 0;
        padding: 30px 15px;
        top: auto;
        transform: none
    }
    footer {
        text-align: center
    }
    .social {
        text-align: center
    }
}

@media only screen and (max-width: 480px) {
    #lead-content h1 {
        font-size: 1.5em
    }
    #lead-content h2 {
        font-size: 1em
    }
    #lead-content a {
        font-size: 0.9em;
        padding: 5px 10px
    }
}